{# {% extends 'base_front.html.twig' %} #}

    <footer style="background: #040E27;padding:100px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 d-flex flex-column">
                    <div> <img src="{{ asset('images/logo.png') }}" width="90" height="90" alt="logo"></div>
                    <div>
                        <p class="text-white mt-2">5th flora, 700/D kings road, green<br> lane New York-1782 <br>+10
                            367 826
                            2567<br>contact@carpenter.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex flex-column mt-5">
                    <div>
                        <h5 class="text-white">Menu</h5>
                    </div>
                    <div>
                        <ul class="navbar-nav w-75">
                            <li class="nav-item">
                                <a class="nav-link text-light font-weight-lighter  ml-4" href="#">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white font-weight-lighter ml-4" href="#">Activites</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white font-weight-lighter ml-4" href="#">pays</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white font-weight-lighter ml-4" href="#">sasions</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white font-weight-lighter ml-4" href="#">About Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 d-flex flex-column mt-4">
                    <div>
                        <h5 class="text-white">Best voyage</h5>
                    </div>
                    <div>
                        <ul class="navbar-nav w-75">
                            <li class="nav-item">
                                <a class="nav-link text-white font-weight-lighter  ml-4" href="#">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white ml-4 font-weight-lighter" href="#">Activites</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white ml-4 font-weight-lighter" href="#">pays</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white ml-4 font-weight-lighter" href="#">sasions</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white ml-4 font-weight-lighter" href="#">About Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
