{% extends 'base_front.html.twig' %}

{% block title %}Hello NavigationController!{% endblock %}


{% block body %}

{% include 'Front/navigation/sliders.html.twig' %}
{# epace #}
<div style="background: #040E27; height: 10vh;"></div>
{% include 'Front/navigation/best-voyage.html.twig' %}
{# epace #}
{# <div style="background: #040E27; height: 5vh;"></div> #}
{% include 'Front/navigation/avis.html.twig' %}

{% endblock %}