<div class="cont">
	<div class="slider"></div>
	<ul class="naver"></div>
	<div data-target='right' class="side-naver side-naver--right"></div>
	<div data-target='left' class="side-naver side-naver--left"></div>
</div>