{% extends 'base_front.html.twig' %}

{% block title %}Nouveau pays{% endblock %}

{% block body %}
    <h1>Créer un nouveau pays</h1>

    {{ include('Front/pays/_form.html.twig') }}

    <a href="{{ path('pays_index') }}">Retour à mes pays</a>
{% endblock %}
