{% extends 'base.html.twig' %}

{% block title %}Hello NavigationController!{% endblock %}


{% block body %}

{% include 'navigation/sliders.html.twig' %}
{# epace #}
<div style="background: #040E27; height: 10vh;"></div>
{% include 'navigation/best-voyage.html.twig' %}
{# epace #}
<div style="background: #040E27; height: 5vh;"></div>
{% include 'navigation/avis.html.twig' %}

{% endblock %}