{% extends 'base.html.twig' %}

{% block body %}

<h1> Welcome to  dashboard </h1>

{# <div>
    <li><a href="{{ path('login') }}">Login</a></li>
    <li><a href="{{ path('user_registration') }}">Signup</a></li> #}
</div>

{% endblock %}


{% block javascripts%}
{% endblock %}