/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bg-lightblue {
	background: var(--lightblue);
}

.bg-red {
	background: var(--red);
}

.text-red {
	color: var(--red);
}

.container-fluid-max {
	max-width: 1440px;
}

.cover {
	background: no-repeat center/cover;
}

.p-15 {
	padding: 15px;
}

/* BANNER SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
	background-attachment: fixed;
	transition: transform 0.5s ease-in-out;
}

.hero::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* background: linear-gradient(rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%); */
}

.hero .container-fluid {
	z-index: 10;
}

/* POPULAR DESTINATIONS SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.popular-destinations figure {
	margin-bottom: 30px;
}

.popular-destinations figcaption {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
}

/* .popular-destinations img {
	filter: grayscale(100%) blur(3px);
	transition: transform 0.5s, filter 0.75s;
} */

.popular-destinations a:hover img {
	/* transform: scale(1.25);
	filter: none; */
	filter: grayscale(100%) blur(3px);
	transition: transform 0.5s, filter 0.75s;
}

/* MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* MEDIUM SCREENS */
@media screen and (max-width: 991px) {
	.page-header {
		background: var(--red);
	}
}

/* SMALL SCREENS */
@media screen and (max-width: 767px) {
	.page-footer .footer-child {
		text-align: center;
	}
}
