{% extends 'base.html.twig' %}

{% block body %}

<h1> Welcome to  tripDreams </h1>
<div>
    <li><a href="{{ path('app_login') }}">Login</a></li>
    <li><a href="{{ path('user_registration') }}">Signup</a></li>
</div>

{% endblock %}


{% block javascripts%}
{% endblock %}