<div class="tab-content" id="v-pills-tabContent">
  {% include 'Front/voyage/programme.html.twig' %}
  {% include 'Front/voyage/infos_pratiques.html.twig' %}
  {% include 'Front/voyage/tarif.html.twig' %}
  {% include 'Front/voyage/avis.html.twig' %}
</div>