  <div class="nav flex-row justify-content-between nav-pills" id="v-pills-tab" role="tablist"
      aria-orientation="vertical">
      <a style="background:#ff7e00; border-right:1px solid #fff;" class="nav-link active text-white w-25"
          id="v-pills-programme-tab" data-toggle="pill" href="#v-pills-programme" role="tab" aria-controls="v-pills-home"
          aria-selected="true">Programme</a>
      <a style="background:#ff7e00; border-right:1px solid #fff;" class="nav-link  text-white w-25"
          id="v-pills-pratique-tab" data-toggle="pill" href="#v-pills-pratique" role="tab" aria-controls="v-pills-pratique"
          aria-selected="false">Infos pratiques</a>
      <a style="background:#ff7e00; border-right:1px solid #fff;" class="nav-link text-white w-25"
          id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
          aria-controls="v-pills-messages" aria-selected="false">Tarifs</a>
          
      <a style="background:#ff7e00; border-right:1px solid #fff;" class="nav-link text-white w-25"
          id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
          aria-controls="v-pills-settings" aria-selected="false">Avis</a>
  </div> 


  