{% extends 'base_front.html.twig' %}

{% block title %}Nouveau voyage{% endblock %}

{% block body %}

    <h1>Créer un nouveau voyage</h1>
    {{ include('Front/voyage/_form.html.twig') }}
    <a href="{{ path('agence_voyage_show', {'id': app.user.id}) }}">Retour à mes voyages</a>
{% endblock %}
