{% extends 'admin/index.html.twig' %}

{% block title %}Détails pays{% endblock %}

{% block contentpage %}

<div class="container-fluid">
    <div class="fade-in">
        <div class="row">
            <div class="col">
                <div class="card card-accent-success">
                    <div class="card-header"><strong>Détails pays</strong>
                        <div class="card-header-actions">
                            <a type="button" class="btn btn-outline-primary" href="{{ path('admin_pays_edit', {'id': pays.id})}}">
                                <i class="bi bi-pencil-square"></i>
                                Modifier
                            </a>
                            <a type="button" class="btn btn-outline-danger" data-urlDelBtn='{{ path('delete_pays', {'id': pays.id})}}' href="" data-toggle='modal' data-target='#dangerModal' onclick="myFunction(this)">
                                <i class="bi bi-trash"></i>
                                Supprimer
                            </a>
                        </div>
                    </div>
                    <div class="collapse show" id="coll">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">ID:</h6>
                                </div>
                                <div class="col-sm-9">
                                    <em>{{ pays.id }}</em>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nom:</h6>
                                </div>
                                <div class="col-sm-9">
                                    <em>{{ pays.name }}</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function myFunction(e) {
        urlDelBtn = $(e).attr('data-urlDelBtn');

        modalId = $(e).attr("data-target")
        modal = $(modalId);
        
        $(modalId+ ' .modal-footer a').attr("href", urlDelBtn)
        modal.modal("show");

        $("button[data-dismiss=modal]").click(function() {
            modal.modal('hide');
        });
    };
</script>

{% set entity = 'pays' %}
{% include 'admin/back_to_list_card.html.twig' %}

{% endblock %}
