{% extends 'agence.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="c-app">
    {# sidebar #}
    <div style="background:#040E27;" class="c-sidebar c-sidebar-dark c-sidebar-show">
        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="c-sidebar-nav-icon cil-speedometer"></i> mes voyages
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="c-sidebar-nav-icon cil-speedometer"></i> add new voyage
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="c-sidebar-nav-icon cil-speedometer"></i> les reservations
                </a>

            </li>
        </ul>
    </div>

    {# wrapper #}

    <div class="c-wrapper">

        {# menu #}
        <header class="c-header c-header-light px-3">

            <button class="c-header-toggler" type="button">
                <span class="c-header-toggler-icon"></span>
            </button>
            <ul class="c-header-nav mr-auto">
                <li class="c-header-nav-item active">
                    <a class="c-header-nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="c-header-nav-item">
                    <a class="c-header-nav-link" href="#">Link</a>
                </li>
                <li class="c-header-nav-item dropdown">
                    <a class="c-header-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="c-header-nav-item">
                    <a class="c-header-nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </header>

        {# body #}

        <div class="c-body">
            <main class="c-main">
                <div class="card container  mt-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>



    </div>
</div>
{% endblock %}