{% extends 'base_agence.html.twig' %}

{% block title %}Espace agencier{% endblock %}

{% block body %}

    {% include 'agence/header.html.twig' %}

    <div class="container">
        <div class="columns">
            <div class="column is-3">
                {% include 'agence/sidebar.html.twig' %}
            </div>
            <div class="column is-9">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    {{ slope_it_breadcrumb() }}
                </nav>
                {% block core %}{% endblock %}
            </div>
        </div>
    </div>

    <footer class="c-footer">
        <!-- Footer content here -->
    </footer>

{% endblock %}