
{% extends 'agence/index.html.twig' %}

{% block title %}New Voyage{% endblock %}

{% block core %}
    {{ include('agence/form/_form.html.twig') }}
    {# <a href="{{ path('show_my_trips', {'id': app.user.id}) }}">Retour à mes voyages</a> #}
{% endblock %}