

<div class="c-sidebar c-sidebar-dark c-sidebar-show">
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-title">gestion des voyages</li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path('agence_voyage_show', {'id': app.user.id}) }}">
                <i class="c-sidebar-nav-icon cil-speedometer"></i> mes voyages
            </a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{path('voyage_new')}}">
                <i class="c-sidebar-nav-icon cil-speedometer"></i> creation voyage 
                <span class="badge badge-primary">NEW</span>
            </a>
        </li> 
        {# <li class="c-sidebar-nav-title">gestion des utlisateurs</li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="#">
                <i class="c-sidebar-nav-icon cil-speedometer"></i> mes utlisateurs
            </a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="#">
                <i class="c-sidebar-nav-icon cil-speedometer"></i> creation utlisateur 
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>    #}
    </ul>

    
</div>