{% extends 'base_front.html.twig' %}

{% block body %}

<section class=" is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5">
		<div class="box">
                <h1 class="has-text-centered">
                    Mes Informations
                </h1>
            </div>
          <div class="box" >
            <div class="field">
            <p class="control">
					{{ form_start(form) }}
					{{ form_widget(form) }}
            </p>
			  
            </div>
           <div class="field" align="center">
        		<a href="{{ path('user_pass_edit', {'id': app.user.id}) }}">Editer le mot de pass?</a>
            </div>
            <div class="field" align="center">
            <p class="control">
               	<button type="submit" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-black rounded shadow ripple waves-light hover:shadow-lg focus:outline-none hover:bg-black waves-effect">Sauvegarder</button>
					{{ form_end(form) }}
				</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock %}