{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
<div class="mt-5" style="min-height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-6  ">
                <img width="570" height="500" class="mr-3"
                    src="https://www.labalaguere.com/sites/default/files/styles/banner_voyage/public/upload_voyages/FP1COLC_1.jpg?itok=pOymZ75X"
                    alt="Generic placeholder image">
            </div>
            <div style="background-color:#040E27;" class="col-6 ">
                <div class="d-flex justify-content-between mt-2">
                    <div style="background:#ff7e00;font-size:18px;padding:8px 20px;text-transform:uppercase"
                        class="text-white">Alpes</div>
                    <div> <a id="favorie_lien" href="{{path('favorie_new',{'id': voyage.id})}}"><i
                                class="far fa fa-heart-o"></i></a>
                    </div>
                </div>
                <hr>
                <div style="background:#fff;border-radius:2px;padding:10px;" class="d-flex justify-content-between">
                    <div class="text-dark">15 jours</div>
                    <div class="text-dark">a partir de: <spans style="color:#ff7e00">750 €</span></div>
                </div>
                <div class="mt-5" style="color:#fff;background:#ff7e00;font-size:22px;padding:10px;">
                    <a class="text-white" href="#">Réserver mon voyage</a>
                </div>
            </div>
        </div>

    </div>
    <div style="min-height: 5vh;"></div>
    <div class="container">
        {% include 'voyage/info.html.twig' %}
    </div>
    <div class="container">
     {% include 'voyage/info_buttom.html.twig' %}
    </div>


</div>
{% endblock %}