  <div class="tab-pane  mt-5 fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">prix</th>
      <th scope="col">depart</th>
      <th scope="col">arrivée</th>
      <th scope="col">capacite</th>

    </tr>
  </thead>
  <tbody>
  {% for tarif in tarifs %}
    <tr>
      <td>{{tarif.prix}} €</td>
      <td>{{tarif.depart|date("m/d/Y")}}</td>
      <td>{{tarif.arrive|date("m/d/Y")}}</td>
      <td>{{tarif.capacite}}</td>

    </tr>
    {% endfor %}

   
  </tbody>
</table>
  </div>
