<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{{ "backend.global.welcome"|trans }}{% endblock %}</title>
    {% block metas %}
        <meta charset="UTF-8">
    {% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body {% block bodyclass %}class="" {% endblock %}>
    {% block body %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>