{% extends 'base_front.html.twig' %}

{% block title %}Récapitulatif de commande{% endblock %}

{% block body %}

<div class="container">
  <div class="section">
    <div class="columns">
        <div class="column is-full">
            <div class="card is-shady">
                <div class="card-header">
                    <p class="title is-6">Votre récapitulatif de commande</p>
                </div>
                <div class="v-card-content mt-5 mb-5">
                    <b>Prix d'origine</b>
                    <p>{{ total }} €</p>
                    <hr>
                    <b>Crédit appliqué</b>
                    <p>0 €</p>
                    <hr>
                    <b>Total payé</b>
                    <p>{{ total }} €</p>
                </div>
                <footer class="card-footer">
                    <span class="card-footer-item">
                      <p>Nous vous remercions de votre confiance! Si vous avez des questions, veuillez envoyer un courriel à <a href="mailto:orders@example.com">orders@tripdream.com</a></p>
                    </span>
                </footer>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}

